body {
  margin: 0;
  font-family: sans-serif;
  background-color: #eee;
}

.content {
  display: flex;
  min-height: calc(100vh - 80px);
  padding: 15px;
}
.region-filters {
  width: 20%;
}
.results {
  width: 75%;
}

/* TODO style and move to separate files */

/* results */
.rain-block > *, .wind-block > *, .cloud-block > *, .temperature-block > * {
  padding: 15px;
}

@media (max-width: 550px) {
  .content {
    display: block;
    .region-filters {
      display: inline;
    }
  }
}
