body {
  margin: 0;
  font-family: sans-serif;
  background-color: #eee;
}

header h1, .content {
  padding: 25px;
}

header h1 {
  margin: 0;
}

.content {
  display: flex;
  min-height: calc(100vh - 100px);
  .region-filters {
    width: 20%;
  }
  .results {
    width: 75%;
    padding-left: 25px;
  }
}

@media (max-width: 550px) {
  .content {
    display: block;
    .region-filters {
      display: inline;
    }
    .results {
      width: 100%;
      padding: 25px 0px 5px 5px;
    }
  }
}
