$marker-width: 8px;

.city-marker-wrapper {
  .city-marker {
    position: absolute;
    border-radius: 50%;
    border: $marker-width solid rgb(241, 32, 84);
    width: $marker-width;
    height: $marker-width;
    margin-top: -$marker-width;
    margin-left: -$marker-width;
    background-color: rgb(19, 88, 236);
  }
  .city-name {
    position: absolute;
    margin-top: 5px;
    margin-left: 1px;
    font-weight: bold;
    font-size: 1rem;
    z-index: 1;
  }
}
