.region {
  font-size: 1.3rem;
}
.region-part {
  font-size: 1.2rem;
  padding-left: 15px;
}
.region, .region-part {
  height: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out,
              font-size 0.2s ease;
}
.region:hover, .region-part:hover {
  background-color: rgb(184, 153, 107);
  font-size: 1.4rem;
}
.selected-region, .selected-region-part {
  font-weight: bold;
}
