.wind-buttons {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}
.wind-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 28%;
  min-width: 330px;
  padding: 5px;
  height: 50px;
  margin: 0 15px 10px 0;
  cursor: pointer;
  background-color: lightgrey;
  box-shadow: 3px 3px grey;
  border-radius: 50px;
  transition: background-color 0.4s ease,
              font-size 0.2s ease,
              font-weight 0.2s ease;
}
.wind-button:hover {
  background-color: #7dd8e0;
  font-size: 1.15rem;
  font-weight: bold;
}
.wind-cities {
  columns: 4 10px;
  width: 95%;
}
.wind-city {
  font-size: 1rem;
  line-height: 2;
  padding-left: 10px;
  margin-bottom: 15px;
  background-color: whitesmoke;
  box-shadow: 5px 5px grey;
  width: 270px;
}
@media (max-width: 1540px) {
  .wind-cities {
    columns: 3 10px;
  }
}
@media (max-width: 1040px) {
  .wind-cities {
    columns: 2 10px;
  }
}
@media (max-width: 550px) {
  .wind-button {
    min-width: 300px;
  }
  .wind-cities {
    columns: 1 10px;
  }
  .wind-city {
    width: 95%;
  }
}
